In [1]:
import pandas as pd
import sqlite3

In [55]:
conn = sqlite3.connect("../data_base/test.db") 


cursor = conn.cursor()

In [57]:
# Open and read the file as a single buffer
fd = open('queries.sql', 'r')
sqlFile = fd.read()
fd.close()

# all SQL commands (split on ';')
sqlCommands = sqlFile.split(';')

# Execute every command from the input file
for command in sqlCommands:
    cursor.execute(command)

In [58]:
command

''